body {
    background: #03012D;    /*shade of midnight*/
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#info {
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 15vw;
    height: auto;
    color: #62bfea;
}

#info > h1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5rem;
}

#info > p:nth-child(2) {
    font-family: 'Cuprum', sans-serif;
    color: #a64dff;                 /*blueviolet*/
}

#info > p:nth-child(3) {
    font-family: 'Cuprum', sans-serif;
    font-size: 0.8rem;
}

#atom {
    justify-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 36rem;
    width: 36rem;
    padding: 4px;
    position: relative;
    /* box-sizing: border-box; */
}

.orbit {
    display: block;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #9b30ff;  /*purple 1*/
    box-shadow: 1px 0px 60px 5px #aa8bff49;
    /* opacity: 1; */
}

.orbit:nth-child(1) {
    height: 28rem;
    width: 28rem;
    border-width: 4px;
    animation: electrons1 1.5s infinite linear;
}

.orbit:nth-child(2) {
    height: 25rem;
    width: 25rem;
    border-width: 3px;
    animation: electrons2 1.5s infinite linear;
}

.orbit:nth-child(3) {
    height: 22rem;
    width: 22rem;
    border-width: 2px;
    animation: electrons3 1.5s infinite linear;
}

#nucleus {
    display: block;
    position: absolute;
    height: 7rem;
    width: 7rem;
    background-image: url(./nucleus1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transition: transform 0.5s linear;
    animation: nucleons 6s infinite linear;
    }

/* ANIMATION */

@keyframes electrons1 {
    0% {
        transform: rotateZ(20deg) rotateY(0deg);
    }
    100% {
        transform: rotateZ(100deg) rotateY(360deg);
    }
}

@keyframes electrons2 {
    0% {
        transform: rotateZ(100deg) rotateY(0deg);
    }
    100% {
        transform: rotateZ(0deg) rotateX(360deg);
    }
}

@keyframes electrons3 {
    0% {
        transform: rotateZ(180deg) rotateX(0deg);
    }
    100% {
        transform: rotateZ(0deg) rotateX(270deg);
    }
}

@keyframes nucleons {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}


@media only screen and (max-width: 600px) {

#container {
    flex-direction: column;
    align-content: center;
    padding: 0.25rem;
}

#info {
    width: 95vw;
}

#atom {
    width: 100%;
    margin-top: 7rem;
    transform: scale(0.75);
}

#info > p {
    margin: 0.4rem;
}

}
